In this notebook, we explore the impact of school holidays. These are also a good indicator when workers take holidays. But we need to be careful what we claim, let's see...

In [1]:
from data_io.loader.data_loader import DataLoader
dl = DataLoader()

# print(dl.get_all_school_holiday_intervals())

# Holidays vs No Holidays (All)

In [4]:
# intervals = dl.get_all_holiday_intervals("Sommer", school_vacation=True, public_holidays=False, year=2022)
# intervals = dl.get_all_holiday_intervals_years("Tag der Deutschen Einheit")
# Note: Both true means OR
intervals = dl.get_all_holiday_intervals(school_vacation=True, public_holidays=True, year=2022)

print(intervals)

bd = dl.get_bicycle('Plöck', sample_rate="1h")

bd = bd.filter_intervals(intervals)
print(bd.date_range(readable=True))

bd.to_pandas()

[('2022-01-01', '2022-01-01'), ('2022-05-01', '2022-05-01'), ('2022-11-01', '2022-11-01'), ('2022-11-02', '2022-11-04'), ('2022-10-03', '2022-10-03'), ('2022-01-06', '2022-01-06'), ('2022-06-06', '2022-06-06'), ('2022-06-07', '2022-06-18'), ('2022-04-14', '2022-04-14'), ('2022-04-15', '2022-04-15'), ('2022-06-16', '2022-06-16'), ('2022-04-18', '2022-04-18'), ('2022-04-19', '2022-04-23'), ('2022-12-21', '2023-01-07'), ('2021-12-23', '2022-01-08'), ('2022-12-25', '2022-12-25'), ('2022-05-26', '2022-05-26'), ('2022-12-26', '2022-12-26'), ('2022-07-28', '2022-09-10'), ('2022-10-31', '2022-10-31'), ('2022-10-31', '2022-10-31'), ('2022-02-28', '2022-03-04')]
('2021-12-23', '2023-01-07')

,datetime,channels_in,channels_out,channels_all,channels_unknown,site_temperature,site_rain_accumulation,site_snow_accumulation
0,2021-12-23 00:00:00+00:00,9,6,15,15,-1.0,0.0,0.0
1,2021-12-23 01:00:00+00:00,1,2,3,3,-1.0,0.0,0.0
2,2021-12-23 02:00:00+00:00,3,6,9,9,-1.0,0.0,0.0
3,2021-12-23 03:00:00+00:00,3,5,8,8,-1.0,0.0,0.0
4,2021-12-23 04:00:00+00:00,5,5,10,10,-1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2611,2023-01-07 19:00:00+00:00,62,78,140,140,8.0,0.0,0.0
2612,2023-01-07 20:00:00+00:00,34,52,86,86,7.0,0.0,0.0
2613,2023-01-07 21:00:00+00:00,35,23,58,58,8.0,0.0,0.0
2614,2023-01-07 22:00:00+00:00,51,22,73,73,9.0,0.0,0.0
2615,2023-01-07 23:00:00+00:00,25,22,47,47,9.0,0.0,0.0